body {
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
    background-color: black;
    font-family: "Poller One", cursive;
    background-image: url("sky.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.welcomeContainerBack {
    background: radial-gradient(
        closest-side,
        #33052b8c,
        #000000c2,
        #000000f5,
        #000000
    );
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcomeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
}

a,
h1 {
    color: rgb(212, 255, 58);
    margin-top: 10px;
    text-decoration: none;
    font-size: 40px;
    text-shadow: -0 0 5px rgba(0, 0, 0, 0.7), 0 -0 5px rgba(0, 0, 0, 0.7),
        -0 -0 5px rgba(0, 0, 0, 0.7), -0 -0 5px rgba(0, 0, 0, 0.7);
}

a:hover {
    color: white;
}

.backLink {
    font-size: 2vmax;
    color: rgb(212, 255, 58);
    position: fixed;
    bottom: 0;
    left: 1vmax;
    font-family: "Black Ops One", cursive;
}

.registerContainer,
.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-family: "Black Ops One", cursive;
}

.registerContainer span,
.loginContainer span {
    margin-bottom: 10px;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
}

.registerContainer a,
.loginContainer a {
    color: cyan;
    font-size: 23px;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
}

.registerContainer a:hover,
.loginContainer a:hover {
    color: rgb(0, 132, 255);
}

.registerContainer h1,
.loginContainer h1 {
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
}

.registerContainer input,
.loginContainer input {
    height: 25px;
}

.registerContainer button,
.loginContainer button {
    height: 30px;
    margin: 3px;
}

.gigCreatorContainer h1 {
    width: 40vw;
    text-align: center;
    font-size: 3vmax;
}

.regSpan .links {
    margin-left: 10px;
}

.appContainerMap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100vh;
    box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0.747);
}

.appContainer {
    display: flex;
    flex-direction: column;

    align-items: center;
    align-self: center;
    background-image: url("road.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 100vh;
    width: 100vw;
}

.appContainerList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100vh;
    box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0.747);
}

.appBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
    font-size: 20px;
    height: 8vh;
    width: 100vw;
}

.barProfile {
    color: white;
    font-size: 30px;
    margin-left: 10px;
}

.barLeftSection {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.switch {
    width: 40px;
    height: 40px;
    background-image: url("ymc.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    left: 20px;
    bottom: 1.8vmax;
    z-index: 1;
    cursor: pointer;
}

.switch:hover {
    left: 18px;
    bottom: 1.5vmax;
}

.barMainLink {
    background-image: url("redBall.gif");
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
}

.mainContainer,
.mapContainer,
.gigEditorContainer,
.gigCreatorContainer,
.gigListContainer {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-bottom: auto;
    width: 100vw;
}

.gigListContainer {
    height: 92vh;
}

.mainMenu a {
    font-size: 2.2vmax;
    margin: 5px 0 10px 0;
}

.gigListContainer h1 {
    margin-bottom: 10px;
    color: white;
    text-shadow: -0 0 5px rgba(0, 0, 0, 0.7), 0 -0 5px rgba(0, 0, 0, 0.7),
        -0 -0 5px rgba(0, 0, 0, 0.7), -0 -0 5px rgba(0, 0, 0, 0.7);
}

.gigListContainer p {
    margin: 5px;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
    color: white;
}
.gigListContainer h2 {
    margin: 10px;
    color: crimson;
}

.selectGig {
    margin: 0;
    padding: 0.5vmax;
    width: 40vw;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    font-size: 25px;
    color: orangered;
    max-height: 85vh;
    width: 40vw;
    margin-bottom: 2vmax;
}

form span {
    font-size: 2.5vmax;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
}

.inputBack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-bottom: 1vmax;
    width: 20vmax;
}

.inputBack:focus-within {
    background-color: rgba(0, 0, 0, 0.151);
    border-radius: 1vh;
}

.formOptions {
    width: 40vw;
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
    align-self: center;
}

form input {
    margin-bottom: 3vh;
    height: 3vmax;
}

form button {
    font-size: 1.5vmax;
    padding: 0.5vmax;
}

.required {
    font-size: 1vmax;
    margin: 5px;
    width: 20vw;
    text-align: center;
}

form h1 {
    margin-bottom: 15px;
    letter-spacing: 5px;
    font-size: 40px;
    color: white;
    text-shadow: -0 0 10px black, 0 -0 10px black, -0 -0 10px black,
        -0 -0 10px black;
}
input {
    margin-bottom: 12px;
    background-color: white;
    border: 1px;
    text-align: center;
    outline: transparent;
    border-radius: 100px;
    width: 15vmax;
    height: 1.7vmax;
    color: orangered;
    box-shadow: -0 0 4px black, 0 -0 4px black, -0 -0 4px black, -0 -0 4px black;
}

button {
    color: orangered;
    border-radius: 100px;
    border: 2px solid orangered;
    font-family: "Poller One", cursive;
    outline: transparent;
    cursor: pointer;
    background-color: white;
}

button:hover {
    border-color: transparent;
}

button:active {
    background-color: orangered;
    color: white;
    border-color: transparent;
}

.delete {
    color: red;
    background-color: white;
    font-size: 1.5vmax;
    cursor: default;

    border-radius: 2vmax;
    border: 2px solid orangered;
    padding: 0.5vmax;
}

.deleteSuccess {
    background-color: transparent;
    background-image: url("redBall.gif");
    background-size: cover;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.deleteWarn {
    color: white;
    background-color: lime;
    border-radius: 10vh;
    padding: 0.5vmax;
    font-size: 15px;
    border: 2px solid white;
    cursor: pointer;
}

.deleteWarn:hover {
    background-color: black;
    color: lime;
}

.upload {
    color: greenyellow;
    background-color: transparent;
    font-size: 15px;
    padding: 3px;
    cursor: pointer;
    height: 17px;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
    margin: 5px;
}

.upload:hover {
    color: white;
}

.upload:active {
    color: transparent;
}

.uploadSuccess {
    background-image: url("rocket.gif");
    background-size: cover;
    width: 45px;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
}

.imgPreview {
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 50%;
}

.easterEgg {
    align-self: center;
}

.easterEgg img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
}

.mainMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.logoBack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    font-family: "Black Ops One", cursive;
}

@keyframes blinker {
    25% {
        text-shadow: -0 0 10px red, 0 -0 10px red, -0 -0 10px red,
            -0 -0 10px red;
        color: rgb(255, 255, 255);
    }

    50% {
        color: lime;
        text-shadow: -0 0 10px blue, 0 -0 10px blue, -0 -0 10px blue,
            -0 -0 10px blue;
    }

    75% {
        color: white;
    }
}

.logoBack p {
    color: red;
    font-size: 3.5vw;
    letter-spacing: 5px;
    align-self: center;
    margin: -8vh 0 5vh 0;
    animation: blinker 10s linear infinite;
    text-shadow: -0 0 10px black, 0 -0 10px black, -0 -0 10px black,
        -0 -0 10px black;
    padding: 0 1vmax;
    border-radius: 3vw;
}

@media only screen and (min-device-height: 496px) and (min-device-width: 960px) and (max-device-width: 1240px) {
    .mainMenu a {
        color: turquoise !important;
        font-size: 5vmax !important;
    }

    .mainMenu {
        flex-direction: row !important;
        justify-content: space-evenly !important;
        width: 70vw !important;
    }
}

@media only screen and (min-device-width: 100px) and (max-device-width: 480px) and (orientation: portrait) {
    .barMainLink {
        width: 4vmax !important;
        height: 4vmax !important;
    }
    .loginContainer h1,
    .registerContainer h1 {
        font-size: 6vmax !important;
        margin-bottom: 2vmax !important;
    }
    .loginContainer span,
    .registerContainer span {
        font-size: 5vmax;
    }

    .loginContainer input,
    .registerContainer input {
        width: 35vw;
        height: 5vh;
        font-size: 2vmax;
    }

    .loginContainer button,
    .registerContainer button {
        width: 17vw;
        height: 5vh;
        font-size: 2vmax;
        margin: 2vmax;
    }

    .regSpan,
    .regSpan a {
        font-size: 3vmax !important;
    }

    .tickerButton {
        font-size: 1vmax !important;
        right: 4vmax !important;
    }
    .logo {
        width: 75vmax !important;
        height: 35vmax !important;
    }

    .logoBack p {
        font-size: 6vmax !important;
        margin: -6vh 0 3vh 0 !important;
    }
    .mainMenu {
        flex-direction: column !important;
        justify-content: space-evenly !important;
        height: 40vw !important;
    }
    .mainMenu a {
        font-size: 5vmax !important;
    }
    .easterEgg img {
        width: 5vmax !important;
        height: 5vmax !important;
    }
    .chatContainerBack {
        flex-direction: column !important;
    }
    .chatContainer {
        flex-direction: column !important;
        height: fit-content !important;
        width: 90vw !important;
        padding: 1vmax !important;
    }
    .chatScreen {
        height: 30vh !important;
        width: 80vw !important;
        margin-bottom: 0.5vmax !important;
    }

    .typeLine {
        width: 80vw !important;
        justify-content: space-evenly !important;
    }

    .mute {
        justify-content: space-evenly !important;
    }

    .chatTypeLine {
        padding-left: 1.7vmax !important;
        height: 3vmax !important;
        font-size: 2vmax !important;
    }
    .onlineUsers {
        margin-top: 2vmax !important;
        margin-right: 2vmax !important;
        justify-content: center !important;
        border-radius: 50% !important;
        width: 17vmax !important;
        height: 17vmax !important;
        padding: 8vmax !important;
        box-shadow: -0 0 20px rgba(0, 0, 0, 0.192),
            0 -0 20px rgba(0, 0, 0, 0.192), -0 -0 20px rgba(0, 0, 0, 0.192),
            -0 -0 20px rgba(0, 0, 0, 0.192) !important;
        background-color: rgba(116, 7, 7, 0.158) !important;
    }

    .usersBack {
        height: 12vh !important;
    }

    .onlineUsersBack {
        flex-direction: row !important;
    }

    .onlineList span {
        font-size: 2vmax !important;
    }

    .onlineUserCounter {
        width: 1.5vw;
        height: 1.5vh;
        align-self: center !important;
    }

    .onlineUsersRedDot {
        width: 3vmax !important;
        height: 3vmax !important;
    }

    .mobileChat {
        flex-direction: column !important;
    }

    .chatMenuOptions {
        flex-direction: row !important;
        margin-top: 1vmax !important;
        width: fit-content !important;
    }

    .emoticons {
        margin-top: 2vh !important;
        margin-right: 1vh !important;
        height: 25vmax !important;
        width: 20vmax !important;
    }

    .emoticons img {
        width: 5vmax !important;
        height: 5vmax !important;
    }

    .chatBar {
        width: 4vmax !important;
        height: 4vmax !important;
    }

    .mute,
    .play {
        width: 4vmax !important;
        height: 4vmax !important;
    }

    .emojiBarToggler {
        width: 5vmax !important;
        height: 5vmax !important;
    }

    .uploaderTogglerImg {
        width: 6vmax !important;
        height: 6vmax !important;
    }

    .colorSelector {
        width: 5vmax !important;
        height: 5vmax !important;
    }

    .sendChatMsg {
        width: 5vmax !important;
        height: 3vmax !important;
    }
}

/* @media only screen and (min-device-width : 768px){
.logo{
        width:50vmax !important;
        height:25vmax !important;

    }
     .mainMenu a {
       color:yellowgreen !important;
    font-size:5vmax !important;
   }

   .mainMenu a:hover {
       color:white !important
   }
          .mainMenu {
    flex-direction: row!important;
        justify-content: space-evenly !important;
    width: 70vw !important
   }

} */

@media only screen and (min-device-width: 630px) and (max-device-width: 768px) {
    .logo {
        width: 45vmax !important;
        height: 35vh !important;
    }
    .mainMenu a {
        color: yellow !important;
        font-size: 3vmax !important;
    }
}

@media only screen and (min-device-width: 273px) and (max-device-width: 1024px) and (orientation: landscape) {

    .logo {
        width: 50vmax !important;
        height: 22vmax !important;
    }

    .logoBack p {
        font-size: 3.5vmax !important;
        margin: -6vh 0 4vh 0 !important;
    }
    .mainMenu a {
        font-size: 4vmax !important;
    }

    .mainMenu {
        flex-direction: row !important;
        justify-content: space-evenly !important;
        width: 70vw !important;
    }
    .chatContainer {
        flex-direction: column !important;


        width: 70vw !important;
    }



    .chatScreen {
        min-height: 0vmax !important;
        height: 40vh !important;
        width: 60vw !important;
    }

    .onlineUsers {
        margin-top: 3vmax !important;
    }

    .onlineList span {
        font-size: 2vmax !important;
    }

    .typeLine {
        width: 60vw !important;
        justify-content: space-evenly !important;
    }

    .mute {
        justify-content: space-between !important;
    }

    .chatTypeLine {
        min-height: 3vmax !important;
        font-size: 2vmax !important;
        padding-left: 1.3vmax !important;
    }

    .mute,
    .play {
        width: 4vmax !important;
        height: 4vmax !important;
    }

    .emojiBarToggler {
        width: 5.5vmax !important;
        height: 5.5vmax !important;
    }

    .sendChatMsg {
        width: 5vmax !important;
        height: 3vmax !important;
    }
    .emoticons img {
        width: 4vmax !important;
        height: 4vmax !important;
    }

    .chatBar {
        width: 4vmax !important;
        height: 4vmax !important;
    }
    .uploaderTogglerImg {
        width: 5vmax !important;
        height: 5vmax !important;
    }

    .colorSelector {
        width: 4vmax !important;
        height: 4vmax !important;
    }

    .chatMenuOptions {
        width: fit-content !important;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 630px) {
    .logo {
        width: 50vmax !important;
        height: 22vmax !important;
    }
    .logoBack p {
        font-size: 5vmax !important;
    }
    .mainMenu {
        flex-direction: row !important;
        justify-content: space-evenly !important;
        width: 70vw !important;
    }
    .mainMenu a {
        color: red !important;
        font-size: 4vmax !important;
    }
}

.logo {
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 24vmax;
    width: 35vmax;
}

.logo2 {
    background-image: url("logo2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 70px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.gigEntries {
    height: 80vh;
    max-height: 80vh;
    overflow: hidden;
    scrollbar-width: none;
    font-size: 1vmax;
    text-align: center;
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    padding-bottom: 1vmax;
}

.gigEntries div {
    background-color: rgba(255, 0, 0, 0.13);
    border-radius: 1vmax;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
    margin-top: 0.5vmax;
    width: fit-content;
    align-self: center;
}

.gigEntries:hover {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0;
}

.selectGig {
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 100px;
    border: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: "Poller One", cursive;
    color: red;
    font-size: 20px;
}

.pin {
    width: 40px;
    height: 20px;
    cursor: pointer;
}

.google-map {
    height: 92vh;
    width: 100vw;
    background-color: black;
}

.google-map a {
    text-shadow: none;
}

.logout {
    font-size: 1vmax;
    position: fixed;
    right: 1.2vmax;
    bottom: 0.5vmax;
    color: rgb(0, 102, 255);
    cursor: pointer;
    font-family: "Black Ops One", cursive;
    text-shadow: -0 0 5px black, 0 -0 5px black, -0 -0 5px black,
        -0 -0 5px black;
    letter-spacing: 1px;
}

.logout:hover {
    color: orangered;
}

.error {
    font-size: 20px;
    color: red;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
}

.gm-style-iw gm-style-iw-c {
    padding: 0 !important;
}
.gm-style .gm-style-iw-c {
    padding-right: 13px !important;
    max-height: 320px !important;

    position: absolute;
    box-sizing: border-box;
    outline: none !important;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    background-color: rgba(255, 0, 51, 0.349);
    border-radius: 8px;
    color: lime;
    box-shadow: -0 0 5px rgba(0, 0, 0, 0.3), 0 -0 5px rgba(0, 0, 0, 0.3),
        -0 -0 5px rgba(229, 255, 0, 0.3), -0 -0 5px rgba(0, 0, 0, 0.3);
    text-shadow: -0 0 5px rgba(0, 0, 0, 0.7), 0 -0 5px rgba(0, 0, 0, 0.7),
        -0 -0 5px rgba(0, 0, 0, 0.7), -0 -0 5px rgba(0, 0, 0, 0.7);
}

.gm-style-iw-d {
    text-align: center;
    font-family: "Black Ops One", cursive;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    outline: none !important;
    overflow: hidden !important;
    width: 100% !important;
    height: 100% !important;
}

.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after {
    top: -21px !important;
}

.gm-style-iw-d {
    width: 100% !important;
    height: 100% !important;
}

div:focus {
    outline: none !important;
}

.mapInfoCard {
    padding: 10px;
}

.mapInfoCard span {
    color: yellow;
}

.infoPoster {
    margin-top: 20px;
    width: 150px !important;
    height: 150px !important;
    border: 1px solid black;
    border-radius: 1vh;
}

.fileUploader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 1vh;
}

.fileUploader p {
    color: orangered;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
    font-size: 20px;
    margin: 5px;
}

.fileUploader input {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    background-color: rgba(0, 0, 0, 0.185);
    border: 1px solid black;
    border-radius: 1px;
    box-shadow: none;
    margin: auto;
}

/*
font-family: 'Bangers', cursive;
font-family: 'Black Ops One', cursive;
font-family: 'Molle', cursive;
font-family: 'Poller One', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Ultra', serif; */

.chatBar {
    background-image: url("chat.png");
    background-position: center;
    background-size: cover;
    width: 2vmax;
    height: 2vmax;
    margin-left: 1vmax;
    margin-top: -1vmax;
}

.mobileChat {
    display: flex;
    flex-direction: row;
}

.chatContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    box-shadow: -0 0 10px rgba(0, 0, 0, 0.308), 0 -0 10px rgba(0, 0, 0, 0.308),
        -0 -0 10px rgba(0, 0, 0, 0.308), -0 -0 10px rgba(0, 0, 0, 0.308);
    border-radius: 1vh;
    margin-top: 3vmax;
    background: radial-gradient(
        closest-side,
        #05303380,
        #e08216c2,
        #ff6767,
        #b1151542
    );
}

.chatContainerBack {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-bottom: auto;
}

.chatContainer h1 {
    font-size: 4vmax;
    color: rgb(255, 0, 0);
    text-shadow: -1px 1px 0 white, 1px -1px 0 white, 1px 1px 0 white,
        -1px -1px 0 white;
    margin: 0;
    font-family: "Black Ops One", cursive;
}

.chatScreen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    width: 40vmax;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.11);
    overflow-y: auto;
    scrollbar-width: none;
    color: yellowgreen;
    box-shadow: inset 0 0 0 100vh rgba(30, 255, 0, 0.164),
        -0 0 10px rgba(0, 0, 0, 0.308), 0 -0 10px rgba(0, 0, 0, 0.308),
        -0 -0 10px rgba(0, 0, 0, 0.308), -0 -0 10px rgba(0, 0, 0, 0.308);
    border-radius: 1vh;
    margin: 0 2vmax 0 2vmax;
}

.chatTypeLine {
    width: 27vmax;
    height: 1.4vmax;
    box-shadow: inset 0 0 0 100vh rgba(43, 255, 0, 0.103),
        -0 0 5px rgba(209, 255, 4, 0.308), 0 -0 5px rgba(0, 0, 0, 0.308),
        -0 -0 5px rgba(0, 0, 0, 0.308), -0 -0 5px rgba(0, 0, 0, 0.308);
    resize: none;
    outline: none;
    white-space: nowrap;
    overflow-x: hidden;
    font-size: 0.9vmax;
    border-radius: 10vh;
    padding-left: 0.5vmax;
    padding-top: 0.3vmax;
    background-color: transparent !important;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
}

.typeLine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.sendChatMsg {
    background-image: url("send.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 2.5vmax;
    height: 1.5vmax;
    align-self: center;
    margin-left: 0.7vmax;
    cursor: pointer;
}

.userChatDetails {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    align-self: flex-start;
}

.post {
    color: yellow;
    font-family: "Poller One", cursive;
    font-size: 20px;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
    letter-spacing: 0.15vmax;
    margin: 0;
}

.post a {
    color: black;
    font-family: none;
    font-size: 20px;
    text-decoration: underline;
    text-shadow: none;
    font-weight: bold;
    margin-right: 5px;
}

.post img {
    width: 2.2vmax;
    height: 2.2vmax;
    border-radius: 0.5vmax;
}

.date {
    color: rgba(0, 0, 0, 0.692);
    letter-spacing: 1px;
    text-align: right;
    font-size: 0.5vmax;
}

.time {
    color: rgba(255, 255, 255, 0.719);
    letter-spacing: 1px;
    text-align: right;
    font-size: 0.8vmax;
}

.post h1 {
    margin-left: 0.5vmax;
    color: rgb(255, 64, 64);
    font-family: "Black Ops One", cursive;
    font-size: 2vmax;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
}

.post div {
    overflow-wrap: break-word;
    font-family: "Ultra", serif;
    font-size: 1.2vmax;
}

.finalMessage {
    display: flex;
    justify-content: flex-start;
}

.emojis {
    height: 6vmax !important;
    width: 6vmax !important;
    margin: 1vmax;
    margin-left: auto;
    margin-right: auto;
}

.chatPost {
    margin: 0 20px 10px 20px;
    background-color: rgba(255, 255, 255, 0.027);
}
.userEnters {
    font-size: 1vmax !important;
    color: rgba(51, 255, 0, 0.719) !important;
    margin: 5px !important;
    text-align: center !important;
    background-color: rgba(0, 0, 0, 0.192);
    padding: 0.5vmax;
    height: 1.5vmax;
    align-self: center;
    border-radius: 2vh;
}

.userLeaves {
    font-size: 1vmax !important;
    color: rgba(255, 251, 0, 0.671) !important;
    margin: 5px !important;
    text-align: center !important;
    background-color: rgba(255, 0, 0, 0.267);
    padding: 0.5vmax;
    height: 1.5vmax;
    align-self: center;
    border-radius: 2vh;
}

.chatUserHeadline {
    color: rgba(255, 255, 255, 0.418);
    font-size: 2.5vmax;
    text-align: center;
    align-self: center;
    width: auto;
}

.onlineUsersBack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.onlineUsers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    box-shadow: -0 0 10px rgba(0, 0, 0, 0.308), 0 -0 10px rgba(0, 0, 0, 0.308),
        -0 -0 10px rgba(0, 0, 0, 0.308), -0 -0 10px rgba(0, 0, 0, 0.308);
    margin-left: 1vmax;
    background-color: rgba(255, 0, 0, 0.158);
    border-radius: 10px;
    width: 15vmax;
    padding: 0.5vmax;
    z-index: 10;
    height: fit-content;
}

.onlineUsers a {
    margin: 0;
}

.usersBack {
    width: 12vmax;
    height: fit-content;
    height: 10vmax;
    min-height: 10vh;
    border: 1px double rgba(243, 45, 227, 0.164);
    margin: 1vmax;
    margin-bottom: 0;
    padding: 0.2vmax;
    overflow-y: auto;
    scrollbar-width: none;
    text-align: center;
    box-shadow: -0 0 5px rgba(0, 0, 0, 0.308), 0 -0 5px rgba(0, 0, 0, 0.308),
        -0 -0 5px rgba(0, 0, 0, 0.308), -0 -0 5px rgba(0, 0, 0, 0.308);
    border-radius: 0.5vmax;
}

.mobileOnlineUsers {
    display: flex;
    flex-direction: column;
}

.onlineUserCounter {
    align-self: center;
    color: yellow;
    border-radius: 50%;
    border: 1px solid rgba(240, 243, 45, 0.315);
    min-width: 1.5vmax;
    min-height: 1.5vmax;
    text-align: center;
    font-size: 1.1vmax;
    margin-bottom: -1.8vmax;
    box-shadow: -0 0 5px rgba(0, 0, 0, 0.308), 0 -0 5px rgba(0, 0, 0, 0.308),
        -0 -0 5px rgba(0, 0, 0, 0.308), -0 -0 5px rgba(0, 0, 0, 0.308);
    background-color: rgba(0, 0, 0, 0.384);
    z-index: 2;
}

.onlineUsersRedDot {
    background-image: url("redBall.gif");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 2vmax;
    height: 2vmax;
    margin: 1vmax;
}

.onlineList {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
}

.onlineListImg {
    height: 2.5vmax;
    width: 2.5vmax;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-top: 1vmax;
    margin-left: 0.5vmax;
    margin-right: 0.3vmax;
    box-shadow: -0 0 5px rgba(0, 0, 0, 0.308), 0 -0 5px rgba(0, 0, 0, 0.308),
        -0 -0 5px rgba(0, 0, 0, 0.308), -0 -0 5px rgba(0, 0, 0, 0.308);
}

.onlineList span {
    margin-left: 0.3vmax;
    margin-bottom: -1vmax;
    color: rgb(0, 255, 0);
    font-family: "Black Ops One", cursive;
    font-size: 1.5vmax;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
}

.chatMenuOptions {
    display: flex;
    justify-content: space-around;
    align-self: center;
    align-items: center;
    margin-top: 1vmax;
    width: 10vmax;
}

.toggleChatUploader {
    color: rgb(252, 100, 73) !important;
    cursor: pointer;
    font-size: 1vmax;
}

.uploaderTogglerImg {
    background-image: url("./photoc.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 3vmax;
    height: 3vmax;
    outline: 0 !important;
    border: 1px solid rgba(255, 255, 255, 0.452) !important;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.377);
    box-shadow: -0 0 10px rgba(0, 0, 0, 0.308), 0 -0 10px rgba(0, 0, 0, 0.308),
        -0 -0 10px rgba(0, 0, 0, 0.308), -0 -0 10px rgba(0, 0, 0, 0.308);
}

.fileUploaderChat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 1vh;
}

.fileUploaderChat h1 {
    font-size: 1.5vmax;
    margin: 0;
    margin-top: 1vmax;
}

.uploadChat h1 {
    font-size: 1.2vmax;
    border-radius: 1vh;
    margin: 1vmax;
    height: 2vmax;
    color: lime;
}

.fileUploaderChat input {
    overflow-wrap: break-word !important;
    padding: 0.8vmax;
    background-color: rgba(0, 0, 0, 0.185);
    border: 1px solid black;
    border-radius: 1px;
    box-shadow: none;
    font-size: 0.7vmax;
    width: 12vmax !important;
    height: 1.1vmax;
    margin-top: 1vmax;
}

.uploadChat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
    margin-bottom: 0 !important;
}

.uploadChat:hover {
    color: white;
}

.uploadChat:active {
    color: transparent;
}

.colorSelector {
    width: 1.9vmax;
    height: 1.9vmax;
    background-color: transparent;
    text-align: center;
    font-size: 1.1vmax;
    background: radial-gradient(
        closest-side,
        #ffffff7a,
        #c5050542,
        #bbff0025,
        #ff000000
    );
    padding: 1.5vmax;
    margin-bottom: 0;
    cursor: pointer;
    box-shadow: none;
}

.mute {
    width: 1.5vmax;
    height: 1.5vmax;
    cursor: pointer;
    background-image: url("play.png");
    background-size: cover;
    margin: 0.5vmax;
}

.play {
    width: 1.5vmax;
    height: 1.5vmax;
    cursor: pointer;
    background-image: url("mute.png");
    background-size: cover;
    margin: 0.5vmax;
}

.chatControls {
    border-radius: 10vh;
    width: fit-content;
    height: fit-content;
    box-shadow: inset 0 0 0 100vh rgba(0, 217, 255, 0.103),
        -0 0 5px rgba(209, 255, 4, 0.308), 0 -0 5px rgba(0, 0, 0, 0.308),
        -0 -0 5px rgba(0, 0, 0, 0.308), -0 -0 5px rgba(0, 0, 0, 0.308);
    margin: 0.5vmax;
}

.emoticons {
    margin-top: 1vmax;
    margin-left: 1vmax;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    align-self: center;
    min-width: 16vmax;
    width: 16vmax;
    height: 30vh;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 1vmax;
    box-shadow: -0 0 10px rgba(0, 0, 0, 0.308), 0 -0 10px rgba(0, 0, 0, 0.308),
        -0 -0 10px rgba(0, 0, 0, 0.308), -0 -0 10px rgba(0, 0, 0, 0.308);
    background-color: rgba(255, 0, 0, 0.158);
    border-radius: 10px;
}

.emoticons img {
    width: 3vmax;
    height: 3vmax;
    min-width: 2vmax;
    min-height: 2vmax;
    margin: 0.5vmax;
    cursor: grab;
}

.emoticons div:hover,
.emojiBarToggler:hover {
    position: relative;
    top: -0.3vmax;
}

.emojiBarToggler {
    background-image: url("styles.png");
    background-position: center;
    background-size: cover;
    width: 2.5vmax;
    height: 2.5vmax;
    margin: 0.5vmax;
    margin-bottom: 1vmax;
    cursor: pointer;
}

.visitors {
    font-family: "Black Ops One", cursive;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-self: center;
    color: rgba(255, 208, 0, 0.815);
    position: fixed;
    right: 0.5vmax;
    bottom: 2.2vmax;
    box-shadow: -0 0 5px rgba(0, 0, 0, 0.308), 0 -0 5px rgba(0, 0, 0, 0.308),
        -0 -0 5px rgba(0, 0, 0, 0.308), -0 -0 5px rgba(0, 0, 0, 0.308);
    text-shadow: -0 0 5px rgba(0, 0, 0, 0.308), 0 -0 5px rgba(0, 0, 0, 0.308),
        -0 -0 5px rgba(0, 0, 0, 0.308), -0 -0 5px rgba(0, 0, 0, 0.308);
    border-radius: 1vh;
    padding: 0.5vmax;
    width: 5vmax;
    background-color: rgba(0, 0, 0, 0.199);
    text-align: center;
    font-size: 1vmax;
}

.visitors div {
    color: rgba(255, 255, 255, 0.692);
}

/* Ticker !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

#headlines {
    white-space: nowrap;
    position: absolute;
    left: 100%;
    overflow: hidden;
    margin: 0;
    z-index: 1;
    padding: 1vmax;
    margin-top: -1vmax;
}

.tickerLink,
.tickerBlankLink {
    padding: 0.1vmax 0.8vmax 0.1vmax 0.8vmax;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
    color: lime;
    font-size: 1.4vmax;
    letter-spacing: 1px;
    margin-top: 0.5vmax;
    margin-right: 1vmax;
    text-decoration: none;
    font-family: "Ultra", serif;
    overflow: hidden;
    box-shadow: -0 0 5px rgba(0, 0, 0, 0.308), 0 -0 5px rgba(0, 0, 0, 0.308),
        -0 -0 5px rgba(0, 0, 0, 0.308), -0 -0 5px rgba(0, 0, 0, 0.308);
    margin-left: 1vmax;
    background-color: rgba(255, 0, 0, 0.13);
    border-radius: 1vmax;
}

.tickerBlankLink {
    color: yellow;
}

.tickerLink span {
    color: red;
    margin: 10px;
}

.tickerButton {
    position: fixed;
    right: 2vmax;
    bottom: 0.5vmax;
    cursor: pointer;
    color: white;
    font-family: "Press Start 2P", cursive;
    font-size: 0.7vmax;
    width: 3vmax;
}
.tickerButton:hover {
    text-shadow: -0 0 10px rgba(255, 0, 0, 0.37),
        0 -0 10px rgba(255, 0, 0, 0.37), -0 -0 10px rgba(255, 0, 0, 0.37),
        -0 -0 10px rgba(255, 0, 0, 0.37);
}

/* Ticker !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.introPreCover,
.introCover {
    position: fixed;
}

.introCover {
    background: black;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

.slider {
    position: absolute;
    width: 2vw;
    height: 100vh;
    background-color: black;
    cursor: pointer;
    z-index: 10;
}

.slider:hover {
    background-color: rgb(255, 255, 255);
}

.intro {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-self: center;
    width: 100vw;
    height: 100vh;
    font-size: 10vmax;
    overflow: hidden;
    color: white;
    text-align: center;
}

.intro span {
    align-self: center;
    font-size: 2.5vmax;
    width: 60vw;
    text-align: center;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! GIGLIST ANIMATION !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@keyframes scroll {
    from {
        top: 200vh;
        transform: translateZ(0) rotateX(50deg);
    }
    to {
        top: -180000vh;
        transform: translateZ(-210000vh) rotateX(35deg);
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .wrapper span:nth-child(2) {
        line-height: 12vmax !important;
        align-self: center;
    }

    .wrapper {
        height: 100% !important;
        perspective: 60vh !important;
    }

    .scroll-text {
        animation: scroll 3500s linear forwards !important;
    }
}

@media only screen and (min-device-width: 630px) and (max-device-width: 768px) {
    .scroll-text {
        animation: scroll 2700s linear forwards !important;
    }

    .wrapper {
        height: 50% !important;
        perspective: 60vh !important;
    }
}

.pre-wrapper {
    height: 90vh;
    overflow: hidden;

    position: relative;
}

.wrapper {
    display: flex;
    height: 20%;
    width: 100vw;
    perspective: 11vmax;
}

.scroll-text {
    font-size: 3vw;
    color: red;
    line-height: 1.5em;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: scroll 2600s linear forwards;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-text div {
    border-radius: 1vmax;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
    margin-top: 10vmax;
    width: fit-content;

    text-align: center !important;
}

.scroll-text h1,
.scroll-text h2 {
    text-align: center;
}

.gigAnimationLink {
    position: fixed;
    top: 8vh;
    right: 2.5vmax;
    border: 1px solid cyan;
    padding: 0.5vmax;
    border-radius: 10vh;
    font-size: 1.5vmax !important;
    background-color: rgba(255, 255, 255, 0.158);
}

.gigAnimationLink:hover {
    background-color: rgba(0, 0, 0, 0.048);
}

.go {
    padding-top: 30vh;
    color: lime;
    font-size: 10vmax;
    cursor: pointer;
    text-shadow: -0 0 10px rgba(229, 255, 0, 0.281),
        0 -0 10px rgba(229, 255, 0, 0.281), -0 -0 10px rgba(229, 255, 0, 0.281),
        -0 -0 10px rgba(229, 255, 0, 0.281);
}

.go:hover {
    color: white;
}

.wrapper h2 {
    display: flex;
    flex-direction: column;
}

.wrapper span:nth-child(1) {
    color: white;
    font-size: 8vmax;
}

.wrapper span:nth-child(2) {
    color: yellow;
    font-size: 14vmax;

    text-shadow: -0 0 10px red, 0 -0 10px red, -0 -0 10px red, -0 -0 10px red;
    line-height: 12vmax;
    margin: 2vmax;
}

.wrapper span:nth-child(3) {
    color: rgba(166, 255, 0, 0.616);
    margin-top: -1vw;
    font-size: 10vw;
    text-shadow: -0 0 10px rgba(0, 0, 0, 0.281), 0 -0 10px rgba(0, 0, 0, 0.281),
        -0 -0 10px rgba(0, 0, 0, 0.281), -0 -0 10px rgba(0, 0, 0, 0.281);
    box-shadow: -0 0 10px rgba(0, 0, 0, 0.281), 0 -0 10px rgba(0, 0, 0, 0.281),
        -0 -0 10px rgba(0, 0, 0, 0.281), -0 -0 10px rgba(0, 0, 0, 0.281);
    width: fit-content !important;
    align-self: center;
    padding: 2vmax;
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 5vh;
    line-height: 10vmax;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! GIGLIST ANIMATION !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
