body {
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
    background-color: black;
    font-family: "Poller One", cursive;
    background-image: url("sky.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100vh;
    max-width: 100vw;
}

.welcomeContainerBack {
    background: radial-gradient(closest-side, #00000000, #0000005e, #000000);
    height: 120vh;
    
}

.welcomeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    margin: 0 0 80px 0;
    height: 100vh;
}

a,
h1 {
    color: rgb(212, 255, 58);
    margin-top: 20px;
    text-decoration: none;
    font-size: 40px;
    text-shadow: -0 0 5px rgba(0, 0, 0, 0.7), 0 -0 5px rgba(0, 0, 0, 0.7),
        -0 -0 5px rgba(0, 0, 0, 0.7), -0 -0 5px rgba(0, 0, 0, 0.7);
}

a:hover {
    color: white;
}

.backLink {
    font-size: 23px;
    margin: 5px;
    color: rgb(212, 255, 58);
    position: fixed;
    bottom: 0;
    left: 10px;
    font-family: "Black Ops One", cursive;
}

.registerContainer,
.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: auto;
    font-family: "Black Ops One", cursive;
}

.registerContainer span,
.loginContainer span {
    margin-bottom: 10px;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
}

.registerContainer a,
.loginContainer a {
    color: cyan;
    font-size: 23px;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
}

.registerContainer a:hover,
.loginContainer a:hover {
    color: rgb(0, 132, 255);

}

.registerContainer h1,
.loginContainer h1 {
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
}

.registerContainer input,
.loginContainer input {
    height: 25px;
}

.registerContainer button,
.loginContainer button {
    height: 30px;
    margin: 3px;
}

.regSpan .links {
    margin-left: 10px;
}

.appContainerMap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100vh;
    box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0.747);
}

.appContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-image: url("road.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
}

.appBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
    font-size: 20px;
    height: 8vh;
    width: 100vw;
}

.barProfile {
    color: white;
    font-size: 30px;
    margin-left: 10px;
}

.barMainLink {
    background-image: url("redBall.gif");
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
}
.easterEgg {
    align-self: center;
}
.easterEgg img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.mainContainer,
.mapContainer,
.gigEditorContainer,
.gigCreatorContainer,
.gigListContainer {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-bottom: auto;
    width: 100vw;
}

.mainMenu a {
    font-size: 30px;
}

.gigListContainer h1 {
    margin-top: 50px;
    margin-bottom: 8px;
    color: crimson;
    text-shadow: -0 0 5px rgba(0, 0, 0, 0.7), 0 -0 5px rgba(0, 0, 0, 0.7),
        -0 -0 5px rgba(0, 0, 0, 0.7), -0 -0 5px rgba(0, 0, 0, 0.7);
}

.gigListContainer p {
    margin: 0;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
}
.gigListContainer h2 {
    color: black;
    margin: 10px;
}

.gigEditorContainer {
    max-height: 95vh;
}

.gigCreatorContainer {
    max-height: 90vh;
}

.selectGig {
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 25px;
    color: orangered;
}

form button {
    font-size: 18px;
    height: 30px;
    margin-bottom: 5px;
}

.required {
    font-size: 15px;
    margin: 5px;
}

form h1 {
    margin-bottom: 15px;
    letter-spacing: 5px;
    font-size: 40px;
    color: white;
    text-shadow: -0 0 10px black, 0 -0 10px black, -0 -0 10px black,
        -0 -0 10px black;
}
input {
    margin-bottom: 12px;
    background-color: white;
    border: 1px;
    text-align: center;
    outline: transparent;
    border-radius: 100px;
    width: 200px;
    height: 20px;
    color: orangered;
    box-shadow: -0 0 4px black, 0 -0 4px black, -0 -0 4px black, -0 -0 4px black;
}

button {
    color: orangered;
    border-radius: 100px;
    border-color: orangered;
    font-family: "Poller One", cursive;
    outline: transparent;
    cursor: pointer;
    background-color: white;
}

button:hover {
    letter-spacing: 2px;
    border-color: transparent;
}

button:active {
    background-color: orangered;
    color: white;
    border-color: transparent;
}

.delete,
.deleteSuccess {
    color: red;
    background-color: transparent;
    font-size: 15px;
    padding: 3px;
    cursor: default;
    height: 17px;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
}

.deleteSuccess {
    margin-bottom: 10px;
    background-image: url("giphy.gif");
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: 5px;
}

.deleteWarn {
    margin-top: 10px;
    color: lime;
    background-color: transparent;
    text-shadow: -0 0 10px black, 0 -0 10px black, -0 -0 10px black,
        -0 -0 10px black;
    font-size: 15px;

    cursor: pointer;
}

.upload {
    color: greenyellow;
    background-color: transparent;
    font-size: 15px;
    padding: 3px;
    cursor: pointer;
    height: 17px;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
    margin: 5px;
}

.upload:hover {
    color: white;
}

.upload:active {
    color: transparent;
}

.uploadSuccess {
    background-image: url("rocket2.gif");
    background-size: cover;
    width: 45px;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
}

.imgPreview {
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 50%;
}

.mainMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.logoBack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    margin-top: 40px;
    font-family: "Black Ops One", cursive;
}

.logoBack p {
    color: red;
    font-size: 60px;
    letter-spacing: 5px;
    align-self: center;
    margin: 0;
    margin-bottom: 40px;
    text-shadow: -1px 1px 0 orange, 1px -1px 0 orange, -1px -1px 0 orange,
        -1px -1px 0 orange;
}

.logo {
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 40vw;
    height: 40vh;
}

.logo2 {
    background-image: url("logo2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 70px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.gigEntries {
    max-height: 32vh;
    overflow: hidden;
    font-size: 9px;
    text-align: center;
    margin-bottom: 80px;
}

.gigEntries:hover {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0;
}

.selectGig {
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 100px;
    border: 0;
    margin-bottom: 10px;
    margin-top: 30px;
    font-family: "Poller One", cursive;
    color: red;
    font-size: 20px;
}
.pin {
    width: 40px;
    height: 20px;
    cursor: pointer;
}

.google-map {
    height: 93vh;
    width: 100vw;
    background-color: black;
}

.logout {
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: crimson;
    cursor: pointer;
    font-family: "Black Ops One", cursive;
}

.error {
    font-size: 20px;
    color: red;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
}

.gm-style-iw gm-style-iw-c {
    padding: 0 !important;
}
.gm-style .gm-style-iw-c {
    padding-right: 13px !important;
    max-height: 320px !important;

    position: absolute;
    box-sizing: border-box;
    outline: none !important;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    background-color: rgba(255, 0, 51, 0.349);
    border-radius: 8px;
    color: lime;
    box-shadow: -0 0 5px rgba(0, 0, 0, 0.3), 0 -0 5px rgba(0, 0, 0, 0.3),
        -0 -0 5px rgba(229, 255, 0, 0.3), -0 -0 5px rgba(0, 0, 0, 0.3);
    text-shadow: -0 0 5px rgba(0, 0, 0, 0.7), 0 -0 5px rgba(0, 0, 0, 0.7),
        -0 -0 5px rgba(0, 0, 0, 0.7), -0 -0 5px rgba(0, 0, 0, 0.7);
}

.gm-style-iw-d {
    text-align: center;
    font-family: "Black Ops One", cursive;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    outline: none !important;
    overflow: hidden !important;
    width: 100% !important;
    height: 100% !important;
}

.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after {
    top: -21px !important;
}

.gm-style-iw-d {
    width: 100% !important;
    height: 100% !important;
}

div:focus {
    outline: none !important;
}

.mapInfoCard {
    padding: 10px;
}

.mapInfoCard span {
    color: yellow;
}

.infoPoster {
    margin-top: 20px;
    width: 150px !important;
    height: 150px !important;
    border: 1px solid black;
    border-radius: 1vh;
}

.fileUploader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 1vh;
}

.fileUploader p {
    color: orangered;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
    font-size: 20px;
    margin: 5px;
}

.fileUploader input {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    background-color: rgba(0, 0, 0, 0.185);
    border: 1px solid black;
    border-radius: 1px;
    box-shadow: none;
    margin: auto;
}

/* 
font-family: 'Bangers', cursive;
font-family: 'Black Ops One', cursive;
font-family: 'Molle', cursive;
font-family: 'Poller One', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Ultra', serif; */
