body {
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
    background-color: black;
    font-family: "Poller One", cursive;
    background-image: url("sky.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100vw;
}

.welcomeContainerBack {
    background: radial-gradient(
        closest-side,
        #33052b8c,
        #000000c2,
        #000000f5,
        #000000
    );
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcomeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
}

a,
h1 {
    color: rgb(212, 255, 58);
    margin-top: 20px;
    text-decoration: none;
    font-size: 40px;
    text-shadow: -0 0 5px rgba(0, 0, 0, 0.7), 0 -0 5px rgba(0, 0, 0, 0.7),
        -0 -0 5px rgba(0, 0, 0, 0.7), -0 -0 5px rgba(0, 0, 0, 0.7);
}

a:hover {
    color: white;
}

.backLink {
    font-size: 23px;
    margin: 5px;
    color: rgb(212, 255, 58);
    position: fixed;
    bottom: 0;
    left: 10px;
    font-family: "Black Ops One", cursive;
}

.registerContainer,
.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-family: "Black Ops One", cursive;
}

.registerContainer span,
.loginContainer span {
    margin-bottom: 10px;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
}

.registerContainer a,
.loginContainer a {
    color: cyan;
    font-size: 23px;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
}

.registerContainer a:hover,
.loginContainer a:hover {
    color: rgb(0, 132, 255);
}

.registerContainer h1,
.loginContainer h1 {
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
}

.registerContainer input,
.loginContainer input {
    height: 25px;
}

.registerContainer button,
.loginContainer button {
    height: 30px;
    margin: 3px;
}

.regSpan .links {
    margin-left: 10px;
}

.appContainerMap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100vh;
    box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0.747);
}

.appContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-image: url("road.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 120vh;
    width:100vw;
}

.appContainerList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 110vh;
    box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0.747);
}

.appBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
    font-size: 20px;
    height: 8vh;
    width: 100vw;
}

.barProfile {
    color: white;
    font-size: 30px;
    margin-left: 10px;
}

.barLeftSection {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.switch {
    width: 20px;
    height: 20px;
    background-image: url("ymc.png");
    background-size: cover;
    background-position: center;
    position: fixed;
    left: 80px;
    bottom: 4px;
    z-index: 1;
    cursor: pointer;
}

.barMainLink {
    background-image: url("redBall.gif");
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
}
.easterEgg {
    align-self: center;
}

.easterEgg img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
}

.mainContainer,
.mapContainer,
.gigEditorContainer,
.gigCreatorContainer,
.gigListContainer {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-bottom: auto;
    width: 100vw;
}

.mainMenu a {
    font-size: 2.2vmax;
    margin: 5px 0 10px 0;
}

.gigListContainer h1 {
    margin-top: 50px;
    margin-bottom: 10px;
    color: white;
    text-shadow: -0 0 5px rgba(0, 0, 0, 0.7), 0 -0 5px rgba(0, 0, 0, 0.7),
        -0 -0 5px rgba(0, 0, 0, 0.7), -0 -0 5px rgba(0, 0, 0, 0.7);
}

.gigListContainer p {
    margin: 5px;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
    color: white;
}
.gigListContainer h2 {
    margin: 10px;
    color: crimson;
}

.gigEditorContainer {
    max-height: 95vh;
}

.gigCreatorContainer {
    max-height: 90vh;
}

.gigListContainer {
    max-height: 100vh;
}

.selectGig {
    margin: 0;
    padding: 0;
    width: 40vw;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 25px;
    color: orangered;
}

form span {
    font-size: 2.2vmax;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
}

form input {
    margin-bottom: 3vh;
}

form button {
    font-size: 18px;
    height: 30px;
    margin-bottom: 5px;
}

.required {
    font-size: 15px;
    margin: 5px;
}

form h1 {
    margin-bottom: 15px;
    letter-spacing: 5px;
    font-size: 40px;
    color: white;
    text-shadow: -0 0 10px black, 0 -0 10px black, -0 -0 10px black,
        -0 -0 10px black;
}
input {
    margin-bottom: 12px;
    background-color: white;
    border: 1px;
    text-align: center;
    outline: transparent;
    border-radius: 100px;
    width: 15vmax;
    height: 1.7vmax;
    color: orangered;
    box-shadow: -0 0 4px black, 0 -0 4px black, -0 -0 4px black, -0 -0 4px black;
}

button {
    color: orangered;
    border-radius: 100px;
    border-color: orangered;
    font-family: "Poller One", cursive;
    outline: transparent;
    cursor: pointer;
    background-color: white;
}

button:hover {
    letter-spacing: 2px;
    border-color: transparent;
}

button:active {
    background-color: orangered;
    color: white;
    border-color: transparent;
}

.delete,
.deleteSuccess {
    color: red;
    background-color: transparent;
    font-size: 15px;
    margin-top: 2vh;
    cursor: default;
    height: 17px;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
}

.deleteSuccess {
    margin-bottom: 10px;
    background-image: url("giphy.gif");
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: 3vh;
}

.deleteWarn {
    margin-top: 2vh;
    color: lime;
    background-color: transparent;
    text-shadow: -0 0 10px black, 0 -0 10px black, -0 -0 10px black,
        -0 -0 10px black;
    font-size: 15px;

    cursor: pointer;
}

.upload {
    color: greenyellow;
    background-color: transparent;
    font-size: 15px;
    padding: 3px;
    cursor: pointer;
    height: 17px;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
    margin: 5px;
}

.upload:hover {
    color: white;
}

.upload:active {
    color: transparent;
}

.uploadSuccess {
    background-image: url("rocket2.gif");
    background-size: cover;
    width: 45px;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
}

.imgPreview {
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 50%;
}

.mainMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.logoBack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    font-family: "Black Ops One", cursive;
}

.logoBack p {
    color: red;
    font-size: 3vmax;
    letter-spacing: 5px;
    align-self: center;
    margin: -4vh 0 0 0;
    text-shadow: -1px 1px 0 orange, 1px -1px 0 orange, -1px -1px 0 orange,
        -1px -1px 0 orange;
}

.logo {
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 24vmax;
    width: 35vmax;
}

.logo2 {
    background-image: url("logo2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 70px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.gigEntries {
    max-height: 70vh;
    overflow: hidden;
    font-size: 1vmax;
    text-align: center;
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
}

.gigEntries:hover {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0;
}

.selectGig {
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 100px;
    border: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: "Poller One", cursive;
    color: red;
    font-size: 20px;
}

.pin {
    width: 40px;
    height: 20px;
    cursor: pointer;
}

.google-map {
    height: 92vh;
    width: 100vw;
    background-color: black;
}

.google-map a {
    text-shadow: none;
}

.logout {
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: rgb(0, 102, 255);
    cursor: pointer;
    font-family: "Black Ops One", cursive;
    text-shadow: -0 0 5px black, 0 -0 5px black, -0 -0 5px black,
        -0 -0 5px black;
    letter-spacing: 1px;
}

.logout:hover {
    color: orangered;
}

.error {
    font-size: 20px;
    color: red;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
}

.gm-style-iw gm-style-iw-c {
    padding: 0 !important;
}
.gm-style .gm-style-iw-c {
    padding-right: 13px !important;
    max-height: 320px !important;

    position: absolute;
    box-sizing: border-box;
    outline: none !important;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    background-color: rgba(255, 0, 51, 0.349);
    border-radius: 8px;
    color: lime;
    box-shadow: -0 0 5px rgba(0, 0, 0, 0.3), 0 -0 5px rgba(0, 0, 0, 0.3),
        -0 -0 5px rgba(229, 255, 0, 0.3), -0 -0 5px rgba(0, 0, 0, 0.3);
    text-shadow: -0 0 5px rgba(0, 0, 0, 0.7), 0 -0 5px rgba(0, 0, 0, 0.7),
        -0 -0 5px rgba(0, 0, 0, 0.7), -0 -0 5px rgba(0, 0, 0, 0.7);
}

.gm-style-iw-d {
    text-align: center;
    font-family: "Black Ops One", cursive;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    outline: none !important;
    overflow: hidden !important;
    width: 100% !important;
    height: 100% !important;
}

.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after {
    top: -21px !important;
}

.gm-style-iw-d {
    width: 100% !important;
    height: 100% !important;
}

div:focus {
    outline: none !important;
}

.mapInfoCard {
    padding: 10px;
}

.mapInfoCard span {
    color: yellow;
}

.infoPoster {
    margin-top: 20px;
    width: 150px !important;
    height: 150px !important;
    border: 1px solid black;
    border-radius: 1vh;
}

.fileUploader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 1vh;
}

.fileUploader p {
    color: orangered;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
    font-size: 20px;
    margin: 5px;
}

.fileUploader input {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 3px;
    background-color: rgba(0, 0, 0, 0.185);
    border: 1px solid black;
    border-radius: 1px;
    box-shadow: none;
    margin: auto;
}

/* 
font-family: 'Bangers', cursive;
font-family: 'Black Ops One', cursive;
font-family: 'Molle', cursive;
font-family: 'Poller One', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Ultra', serif; */

.chatBar {
    background-image: url("chat.png");
    background-position: center;
    background-size: cover;
    width: 2vmax;
    height: 2vmax;
    margin-left: 1vmax;
    margin-top: -1vmax;
}

.chatContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    box-shadow: -0 0 10px rgba(0, 0, 0, 0.308), 0 -0 10px rgba(0, 0, 0, 0.308),
        -0 -0 10px rgba(0, 0, 0, 0.308), -0 -0 10px rgba(0, 0, 0, 0.308);
    border-radius: 1vh;
    padding-top: 10px;
    margin-top: 1vmax;
    background: radial-gradient(
        closest-side,
        #05303380,
        #e08216c2,
        #ff6767,
        #b1151542
    );
}

.chatContainerBack {
    display: flex;
    flex-direction: row;
    align-self: center;
    min-width: 50vw;
    margin-bottom: auto;
}



.chatContainer h1 {
    font-size: 4vmax;
    color: rgb(255, 0, 0);
    text-shadow: -1px 1px 0 white, 1px -1px 0 white, 1px 1px 0 white,
        -1px -1px 0 white;
    margin: 0;
    font-family: "Black Ops One", cursive;
}

.chatScreen {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    width: 50vw;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.11);
    overflow-y: auto;
    color: yellowgreen;
    box-shadow: inset 0 0 0 100vh rgba(30, 255, 0, 0.164),
        -0 0 10px rgba(0, 0, 0, 0.308), 0 -0 10px rgba(0, 0, 0, 0.308),
        -0 -0 10px rgba(0, 0, 0, 0.308), -0 -0 10px rgba(0, 0, 0, 0.308);
    border-radius: 1vh;
    margin: 0 2vmax 0 2vmax;
}

.chatTypeLine {
    width: 40vmax;
    height: 1.5vmax;
    box-shadow: inset 0 0 0 100vh rgba(43, 255, 0, 0.103),
        -0 0 5px rgba(209, 255, 4, 0.308), 0 -0 5px rgba(0, 0, 0, 0.308),
        -0 -0 5px rgba(0, 0, 0, 0.308), -0 -0 5px rgba(0, 0, 0, 0.308);
    resize: none;
    outline: none;
    white-space: nowrap;
    overflow-x: hidden;
}

.typeLine {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 1vmax;
    padding-top: 0;
}

.sendChatMsg {
    font-size: 2vmax;
    color: black;
    margin-left: 0.7vmax;
    cursor: pointer;
}

.sendChatMsg:hover {
    color:lime;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
}

.chatScreen p {
    color: yellow;
    font-family: "Poller One", cursive;
    font-size: 20px;
    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
    letter-spacing: 0.15vmax;
    margin:0;
}

.date {
    color:rgba(0, 0, 0, 0.692);
    letter-spacing: 1px;
    text-align:right;
    font-size: 10px;
}

.time{
    color:rgba(255, 255, 255, 0.719);
    letter-spacing: 1px;
    text-align:right;
    font-size:15px;
}

.chatScreen p span {
    margin-right: 5px;
    color: rgb(255, 64, 64);
    font-family: "Black Ops One", cursive;
    font-size: 18.5px;

    text-shadow: -1px 1px 0 black, 1px -1px 0 black, -1px -1px 0 black,
        -1px -1px 0 black;
}

.emojis {
    width: 100px;
    height: 100px;
    margin:1vmax;
    margin-left: 20vw;
}

.chatPost {
    margin:0 20px 10px 20px;
    background-color: rgba(255, 255, 255, 0.027);
}
.userEnters {
    color: lime !important;
    margin:10px !important;
    text-align:center !important;
    background-color: rgba(0, 0, 0, 0.13);
    width:22vmax;
    align-self:center;
    border-radius:2vh;
}

.userLeaves {
    color: rgba(252, 25, 221, 0.747) !important;
     margin:10px !important;
    text-align:center !important;
    background-color: rgba(255, 0, 0, 0.13);
    width:22vmax;
    align-self:center;
    border-radius:2vh;

}

.chatUserHeadline {
    color: rgba(255, 255, 255, 0.418);
    font-size: 2.5vmax;
    text-align: center;
    align-self:center;
    width:auto;
}

.onlineUsers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    box-shadow: -0 0 10px rgba(0, 0, 0, 0.308), 0 -0 10px rgba(0, 0, 0, 0.308),
        -0 -0 10px rgba(0, 0, 0, 0.308), -0 -0 10px rgba(0, 0, 0, 0.308);
    margin-left: 1vmax;
    background-color: rgba(255, 0, 0, 0.158);
    border-radius: 10px;
    width: 18vw;
    height: 30vmax;
    overflow-y: scroll;
}

.onlineUsers a {
    margin:0;
}

.usersBack {
    height: fit-content;
    width: 12vmax;
    height: 35vmax;
    border: 1px double rgba(243, 45, 227, 0.164);
    margin: 1vmax;
    margin-bottom: 2vmax;
    padding: 0.2vmax;
    overflow-x: scroll;
    text-align: center;
    box-shadow: -0 0 5px rgba(0, 0, 0, 0.308), 0 -0 5px rgba(0, 0, 0, 0.308),
        -0 -0 5px rgba(0, 0, 0, 0.308), -0 -0 5px rgba(0, 0, 0, 0.308);

}

.onlineUserCounter {
    color: yellow;
    border-radius: 50%;
    border: 1px solid rgba(240, 243, 45, 0.315);
    min-width:1.5vmax;
    min-height:1.5vmax;
    text-align: center;
    font-size:1.3vmax;
    margin-bottom:-1.8vmax;
    box-shadow: -0 0 5px rgba(0, 0, 0, 0.308), 0 -0 5px rgba(0, 0, 0, 0.308),
        -0 -0 5px rgba(0, 0, 0, 0.308), -0 -0 5px rgba(0, 0, 0, 0.308);
        background-color: rgba(0, 0, 0, 0.384);
        z-index: 2;
}

.onlineUsersRedDot {
    background-image: url("redBall.gif");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    width: 2vmax;
    height: 2vmax;
    margin: 1vmax;
}

.onlineUsers p span {
    margin: 1vmax;
    color: rgb(0, 255, 0);
    font-family: "Black Ops One", cursive;
    font-size: 1.5vmax;
    overflow-x: scroll;
    text-shadow: -0 0 10px rgba(0, 0, 0, 0.308), 0 -0 10px rgba(0, 0, 0, 0.308),
        -0 -0 10px rgba(0, 0, 0, 0.308), -0 -0 10px rgba(0, 0, 0, 0.308);
}

.colorSelector {
    width: 2vmax;
    background-color: transparent;
    box-shadow: none;
    border-radius: 50%;
}

.mute {
    position: sticky;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("play.png");
    background-size: cover;
    margin-left: 0.7vmax;
}


.play {
    position: sticky;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-image: url("mute.png");
    background-size: cover;
    margin-left: 0.7vmax;
}

.emoticons {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
    flex-wrap:wrap;
    align-self: center;
    min-width: 45vmax;
    width:45vmax;
    height:3.5vmax;
    min-height:3.5vmax;
    overflow-x: hidden;
    padding-top:1vmax;
}

.emoticons img {
    width: 2vmax;
    height: 2vmax;
    min-width: 2vmax;
    min-height: 2vmax;
    margin: 15px;
    cursor: grab;
}

.emoticons div {
    margin: 0;
  
}

.emoticons div:hover {
    background-color: rgba(0, 0, 0, 0.062);
    border-radius: 50%;
    position: relative;
    top:-0.3vmax;
   
}
